@import "./variables";
@import "./bootswatch";

$primary:       #202020;
$secondary:     #afafaf;
$success:       #2d6e3d;
$info:          #33527a;
$warning:       #aca651;
$danger:        #923b3b;
$light:         #9e9e9e;
$dark:          #141414;

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);
// scss-docs-end theme-colors-map

@import "../../node_modules/bootstrap/scss/bootstrap";

// sass styles.scss bootstrap.css